:root {
  font-family: 'Inter Tight', sans-serif;
  background-color: #1c1d20;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(background-color);
  color: #fafafa;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* питаннячко 🤔*/
section {
  align-self: center;
}

.hidden {
  display: none;
}

.text {
  font-weight: 500px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.text-red-highlight {
  color: #ed3b44;
}

.text-gray-highlight {
  opacity: 40%;
}

.st-block {
  background-color: #242527;
  height: 500px;
  width: 343px;
  border-radius: 24px;
  margin: 0;
  padding: 0;
}

.overall {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.img {
  object-fit: cover;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }
  .text {
    font-size: 38px;
    line-height: 40px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .st-block {
    height: 700px;
    width: 704px;
  }
  .img {
    content: url(../img/tablet/about-me-tablet-1x.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 31px;
    padding-right: 31px;
  }
  .text {
    padding-left: 66px;
    padding-right: 66px;
  }
  .st-block {
    height: 700px;
    width: 680px;
  }
  .overall {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .img {
    content: url(../img/desktop/about-me-desktop-1x.jpg);
  }
}

/* ------------------------------------- */

.accordion-content {
  display: none;
}

.accordion-header {
  cursor: pointer;
}
